@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.mytasks{
    
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;  
    color: #282829;
}

.activetasks{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    
    color: #8B8B8B;
}

.completedtasks{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    
    color: #8B8B8B;
}

#third{
    display: none;
}

.taskcontent{
    
    width: 100%;
    height: 110px;
    left: 66px;
    top: 323px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.19);
    border-radius: 8px;

}

/* added tasks */

.addedtaskheading{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #282829;
    white-space: nowrap ;


}

.form-check{
    width: 50px;
}


/* showing the date when adding task styling */
.date{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    color: #888888;
    white-space: nowrap;
}

.delete , .edit{
    border: none;
    background-color: white;
}

/* .edit{
    position: absolute;
    right: 200px;
} */

.delete{
    color: red;
}

.sortby{
    background-color: #FFFFFF;
    width: 143px !important;
    height: 33px !important;
}

input.rounded-circle {
    width: 40px;
    height: 40px;
    
}

.form-check-input:checked {
    background-color: #26ad13 !important;
    border-color: #26ad13 !important;
}

/* .activetasks{
    display: block;
} */

.searchdiv{
    border: 1px solid;
    border-color: #CECECE  ;
    border-radius: 4px;
    height: 44px;
    width:578px !important;
}
.searchbtn{
    border: none;
    background-color: white;
    
}

.bi-pencil-fill{
    color: #7e7e7f;
}

.btn-primary{
   background-color: #0c39c7 !important;
}
.bi-search{
    color: #939393;
    ;
}

.input.form-control:focus{
    box-shadow:#26ad13 !important;
}
.orangeround{
    width: 11px;
    height: 11px;
    background-color: orange;
    border-radius: 50%;
    
}
.greenround{
    width: 11px;
    height: 11px;
    background-color:#26ad13;
    border-radius: 50%;
    
}

.btn-outline-primary{
    color: #0c39c7 !important;
}
